@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/opensans.woff), url(../fonts/opensans.woff2);
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 1200px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
    color: #444444;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.page-header__h1 {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}

.page-header__h2 {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.examples {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.examples__item {
    max-width: 346px;
    position: relative;
}

.example__prev {
    display: block;
    width: 100%;
    border: 1px solid #c5c5c5;
}

.example__prev:hover {
    border: 1px solid blue;
}

.example__title {
    margin-top: 21px;
    font-size: 21px;
    line-height: 30px;
}

.example__title a {
    color: #444444;
    text-decoration: underline;
}

.example__title a:hover {
    color: blue;
}

.example__title a:active {
    color: #c5c5c5;
}

.example__descr {
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.author {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 378px;
    display: flex;
    align-items: flex-end;
}

.author__txt {
    margin-left: 28px;
}

.author__name {
    margin-bottom: 12px;
    font-size: 21px;
    line-height: 30px;
}

.author__coords {
    font-size: 16px;
    line-height: 22px;
}

.author__coords a {
    color: #444444;
}

.author__name a {
    color: #444444;
    text-decoration: underline;
}

.author__name a:hover,
.author__coords a:hover {
    color: blue;
    text-decoration: underline;
}

.author__name a:active,
.author__coords a:active {
    color: #c5c5c5;
}